@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
:root {
    --hover-link:#F3370C;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: aliceblue;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    display: grid;
    height: 100vh;
    gap: 10px;
    background-color: #3b82f6;
    color: #ffffff;
    grid-column: 1 / 2;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 1rem;
}

.search-right-side,
.search-left-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

input {
    width: 40rem;
    height: 1.5rem;
    border-radius: 12px;
    border: 1px solid rgb(143, 142, 142);
}

#apple-small-icon {
    height: 2rem;
    width: 2rem;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem 2rem 1rem;
}

.lower-header .left-side {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.header-button {
    width: 6rem;
    height: 2rem; 
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    background-color: #3b82f6;
    border: none;
}

.header-button:hover {
    color: #F3370C;
}

#big-apple-icon {
    height: 3rem;
    width: 3rem;
}

.main-content {
    display: grid;
}

.icon {
    height: 1rem;
    width: 1rem;
}

#dashboard {
    height: 2rem;
    width: 2rem;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

ul li {
    list-style-type: none;
    margin-left: 1rem;
}

li,
.sidebar div {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.sidebar div {
    margin-left: 0.6rem;
}

ul li:hover,
.sidebar div:hover {
    color: #F3370C;
}